fastapi==0.70.1
uvicorn==0.16.0
Jinja2==3.0.3
mangum==0.12.3
pydantic==1.9.0
starlette==0.16.0
beautifulsoup4==4.12.2
requests==2.26.0
pyzbar==0.1.9
Pillow==10.0.1
PyMuPDF==1.23.4
python-multipart==0.0.6
numpy==1.23.1
scikit-fuzzy==0.4.2
matplotlib==3.5.1
sqlalchemy==1.4.27
alembic==1.7.5
psycopg2-binary==2.9.3
passlib==1.7.4
bcrypt==3.2.0
python-jose[cryptography]==3.3.0
tensorflow
opencv-python
moviepy
aiofiles
websockets
ffmpeg-python
httpx
ultralytics
av
boto3